/* vars */

$images: '../images/';

// fonts

$defFonts: 'Noto Sans JP', Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans",
YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;

$breakpoints: (
    xs: 375px,
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1440px,
);

// wrap

$gap: 20px;
$container-width: 1280px;

// colors

$white: #fff;
$black: #000;

// transitions

$transition: .4s;

